.top-10{
    margin-top: 10rem;
}
.top-3{
    margin-top: 3rem;
}
.animation{
    transition-duration: 1s
}
.center-text{
    text-align: center;
}
.same-line{
    display:inline;
}
.color-blue{
    color: #577590;
}

.color-orange{
    color: #f8961e;
}

.main-input{
    width: 780px;
    margin: auto;
}

.logo{
    width: 5rem;
}
@media only screen and (max-width: 800px) {
    .main-input{
        width: 95%;
        margin: auto;
    }
}

.table-matrix{
    margin: auto;
}

.table-matrix td{
    width: 8rem;
    text-align: center;
    font-size: 1.5rem;
}

.space{
    height: 4rem;
}